### 연도별 경제 성장률, 실업률 등 경제 지표와 범죄 발생률 간의 관계를 분석
### 경제 상황 변화 시 범죄 발생률의 변동 패턴을 분석하여 경제적 요인이 범죄에 미치는 영향을 평가
#### 2020~2022

In [254]:
import pandas as pd

In [255]:
# 연도별 경제 성장률
# 2021년 : 4.3%, 2022년 : 2.6%, 2023년 : 1.4%     갈수록 성장률이 낮아지고 있다.

In [256]:
# 연도별 실업률
file_name='행정구역_시도_실업률.xlsx'

In [257]:
unempDF=pd.read_excel(file_name)
unempDF

c:\Users\kdp\anaconda3\envs\PY_39\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

        시도별 연령계층별  2020  2021  2022
0     서울특별시     계   4.6   4.8   3.4
1     부산광역시     계   4.2   3.4   3.0
2     대구광역시     계   3.9   3.7   2.9
3     인천광역시     계   4.6   4.0   3.3
4     광주광역시     계   3.9   3.6   2.9
5     대전광역시     계   4.4   3.3   2.4
6     울산광역시     계   4.2   3.6   3.2
7   세종특별자치시     계   2.8   2.1   2.0
8       경기도     계   4.0   3.7   2.7
9       강원도     계   3.9   3.6   3.2
10     충청북도     계   3.2   2.5   2.5
11     충청남도     계   3.5   2.3   2.3
12     전라북도     계   2.5   2.2   2.4
13     전라남도     계   2.4   2.3   2.2
14     경상북도     계   4.0   3.2   2.5
15     경상남도     계   4.0   4.1   3.3
16      제주도     계   2.5   3.1   2.1

In [258]:
unempDF=unempDF.drop(columns='연령계층별',axis=1)
unempDF

        시도별  2020  2021  2022
0     서울특별시   4.6   4.8   3.4
1     부산광역시   4.2   3.4   3.0
2     대구광역시   3.9   3.7   2.9
3     인천광역시   4.6   4.0   3.3
4     광주광역시   3.9   3.6   2.9
5     대전광역시   4.4   3.3   2.4
6     울산광역시   4.2   3.6   3.2
7   세종특별자치시   2.8   2.1   2.0
8       경기도   4.0   3.7   2.7
9       강원도   3.9   3.6   3.2
10     충청북도   3.2   2.5   2.5
11     충청남도   3.5   2.3   2.3
12     전라북도   2.5   2.2   2.4
13     전라남도   2.4   2.3   2.2
14     경상북도   4.0   3.2   2.5
15     경상남도   4.0   4.1   3.3
16      제주도   2.5   3.1   2.1

In [259]:
unempDF=unempDF.set_index('시도별')
unempDF

         2020  2021  2022
시도별
서울특별시     4.6   4.8   3.4
부산광역시     4.2   3.4   3.0
대구광역시     3.9   3.7   2.9
인천광역시     4.6   4.0   3.3
광주광역시     3.9   3.6   2.9
대전광역시     4.4   3.3   2.4
울산광역시     4.2   3.6   3.2
세종특별자치시   2.8   2.1   2.0
경기도       4.0   3.7   2.7
강원도       3.9   3.6   3.2
충청북도      3.2   2.5   2.5
충청남도      3.5   2.3   2.3
전라북도      2.5   2.2   2.4
전라남도      2.4   2.3   2.2
경상북도      4.0   3.2   2.5
경상남도      4.0   4.1   3.3
제주도       2.5   3.1   2.1

In [260]:
unempDF.index=['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주']
unempDF

    2020  2021  2022
서울   4.6   4.8   3.4
부산   4.2   3.4   3.0
대구   3.9   3.7   2.9
인천   4.6   4.0   3.3
광주   3.9   3.6   2.9
대전   4.4   3.3   2.4
울산   4.2   3.6   3.2
세종   2.8   2.1   2.0
경기   4.0   3.7   2.7
강원   3.9   3.6   3.2
충북   3.2   2.5   2.5
충남   3.5   2.3   2.3
전북   2.5   2.2   2.4
전남   2.4   2.3   2.2
경북   4.0   3.2   2.5
경남   4.0   4.1   3.3
제주   2.5   3.1   2.1

In [261]:
unempDF.columns=['2020실업률','2021실업률','2022실업률']
unempDF

    2020실업률  2021실업률  2022실업률
서울      4.6      4.8      3.4
부산      4.2      3.4      3.0
대구      3.9      3.7      2.9
인천      4.6      4.0      3.3
광주      3.9      3.6      2.9
대전      4.4      3.3      2.4
울산      4.2      3.6      3.2
세종      2.8      2.1      2.0
경기      4.0      3.7      2.7
강원      3.9      3.6      3.2
충북      3.2      2.5      2.5
충남      3.5      2.3      2.3
전북      2.5      2.2      2.4
전남      2.4      2.3      2.2
경북      4.0      3.2      2.5
경남      4.0      4.1      3.3
제주      2.5      3.1      2.1

In [262]:
unempDF['2021실업률증강률']=unempDF['2021실업률']-unempDF['2020실업률']
unempDF

    2020실업률  2021실업률  2022실업률  2021실업률증강률
서울      4.6      4.8      3.4         0.2
부산      4.2      3.4      3.0        -0.8
대구      3.9      3.7      2.9        -0.2
인천      4.6      4.0      3.3        -0.6
광주      3.9      3.6      2.9        -0.3
대전      4.4      3.3      2.4        -1.1
울산      4.2      3.6      3.2        -0.6
세종      2.8      2.1      2.0        -0.7
경기      4.0      3.7      2.7        -0.3
강원      3.9      3.6      3.2        -0.3
충북      3.2      2.5      2.5        -0.7
충남      3.5      2.3      2.3        -1.2
전북      2.5      2.2      2.4        -0.3
전남      2.4      2.3      2.2        -0.1
경북      4.0      3.2      2.5        -0.8
경남      4.0      4.1      3.3         0.1
제주      2.5      3.1      2.1         0.6

In [263]:
unempDF['2022실업률증강률']=unempDF['2022실업률']-unempDF['2021실업률']
unempDF

    2020실업률  2021실업률  2022실업률  2021실업률증강률  2022실업률증강률
서울      4.6      4.8      3.4         0.2        -1.4
부산      4.2      3.4      3.0        -0.8        -0.4
대구      3.9      3.7      2.9        -0.2        -0.8
인천      4.6      4.0      3.3        -0.6        -0.7
광주      3.9      3.6      2.9        -0.3        -0.7
대전      4.4      3.3      2.4        -1.1        -0.9
울산      4.2      3.6      3.2        -0.6        -0.4
세종      2.8      2.1      2.0        -0.7        -0.1
경기      4.0      3.7      2.7        -0.3        -1.0
강원      3.9      3.6      3.2        -0.3        -0.4
충북      3.2      2.5      2.5        -0.7         0.0
충남      3.5      2.3      2.3        -1.2         0.0
전북      2.5      2.2      2.4        -0.3         0.2
전남      2.4      2.3      2.2        -0.1        -0.1
경북      4.0      3.2      2.5        -0.8        -0.7
경남      4.0      4.1      3.3         0.1        -0.8
제주      2.5      3.1      2.1         0.6        -1.0

In [264]:
unempDF1=unempDF[['2021실업률증강률','2022실업률증강률']]
unempDF1

    2021실업률증강률  2022실업률증강률
서울         0.2        -1.4
부산        -0.8        -0.4
대구        -0.2        -0.8
인천        -0.6        -0.7
광주        -0.3        -0.7
대전        -1.1        -0.9
울산        -0.6        -0.4
세종        -0.7        -0.1
경기        -0.3        -1.0
강원        -0.3        -0.4
충북        -0.7         0.0
충남        -1.2         0.0
전북        -0.3         0.2
전남        -0.1        -0.1
경북        -0.8        -0.7
경남         0.1        -0.8
제주         0.6        -1.0

In [265]:
# 지역별 범죄율 정리
file_name3='범죄발생지역.xlsx'

In [266]:
chDF=pd.read_excel(file_name3)
chDF

c:\Users\kdp\anaconda3\envs\PY_39\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                  범죄별(1) 발생지역별(1)    2020    2021    2022
0   A/Bⅹ100,000 (건/10만명)       서울  3292.4  2890.1  3134.2
1                    NaN       부산  3764.0  3389.4  3560.5
2                    NaN       대구  3274.2  3032.6  3020.1
3                    NaN       인천  3273.7  2897.6  3072.9
4                    NaN       광주  3439.1  3094.5  3002.2
5                    NaN       대전  3207.9  2886.6  3156.8
6                    NaN       울산  2192.8  2091.9  1600.5
7                    NaN       세종  1869.1  1652.9  1800.6
8                    NaN       경기  3198.7  2860.2  2878.1
9                    NaN       강원  3340.9  2950.8  2996.3
10                   NaN       충북  3226.1  2943.5  2966.9
11                   NaN       충남  3387.4  2986.4  3194.9
12                   NaN       전북  3115.7  2943.0  3036.7
13                   NaN       전남  3642.8  3284.9  3385.9
14                   NaN       경북  3174.6  2866.8  3036.1
15                   NaN       경남  3694.6  3352.3  3398.5
16                   NaN       제주  4342.5  3915.6  4051.9

In [267]:
chDF=chDF.drop(columns='범죄별(1)',axis=1)
chDF

   발생지역별(1)    2020    2021    2022
0        서울  3292.4  2890.1  3134.2
1        부산  3764.0  3389.4  3560.5
2        대구  3274.2  3032.6  3020.1
3        인천  3273.7  2897.6  3072.9
4        광주  3439.1  3094.5  3002.2
5        대전  3207.9  2886.6  3156.8
6        울산  2192.8  2091.9  1600.5
7        세종  1869.1  1652.9  1800.6
8        경기  3198.7  2860.2  2878.1
9        강원  3340.9  2950.8  2996.3
10       충북  3226.1  2943.5  2966.9
11       충남  3387.4  2986.4  3194.9
12       전북  3115.7  2943.0  3036.7
13       전남  3642.8  3284.9  3385.9
14       경북  3174.6  2866.8  3036.1
15       경남  3694.6  3352.3  3398.5
16       제주  4342.5  3915.6  4051.9

In [268]:
chDF=chDF.rename(columns={'발생지역별(1)':'시도별'})
chDF

   시도별    2020    2021    2022
0   서울  3292.4  2890.1  3134.2
1   부산  3764.0  3389.4  3560.5
2   대구  3274.2  3032.6  3020.1
3   인천  3273.7  2897.6  3072.9
4   광주  3439.1  3094.5  3002.2
5   대전  3207.9  2886.6  3156.8
6   울산  2192.8  2091.9  1600.5
7   세종  1869.1  1652.9  1800.6
8   경기  3198.7  2860.2  2878.1
9   강원  3340.9  2950.8  2996.3
10  충북  3226.1  2943.5  2966.9
11  충남  3387.4  2986.4  3194.9
12  전북  3115.7  2943.0  3036.7
13  전남  3642.8  3284.9  3385.9
14  경북  3174.6  2866.8  3036.1
15  경남  3694.6  3352.3  3398.5
16  제주  4342.5  3915.6  4051.9

In [269]:
chDF=chDF.set_index('시도별')
chDF

       2020    2021    2022
시도별
서울   3292.4  2890.1  3134.2
부산   3764.0  3389.4  3560.5
대구   3274.2  3032.6  3020.1
인천   3273.7  2897.6  3072.9
광주   3439.1  3094.5  3002.2
대전   3207.9  2886.6  3156.8
울산   2192.8  2091.9  1600.5
세종   1869.1  1652.9  1800.6
경기   3198.7  2860.2  2878.1
강원   3340.9  2950.8  2996.3
충북   3226.1  2943.5  2966.9
충남   3387.4  2986.4  3194.9
전북   3115.7  2943.0  3036.7
전남   3642.8  3284.9  3385.9
경북   3174.6  2866.8  3036.1
경남   3694.6  3352.3  3398.5
제주   4342.5  3915.6  4051.9

In [270]:
chDF.columns=['2020범죄율','2021범죄율','2022범죄율']
chDF

     2020범죄율  2021범죄율  2022범죄율
시도별
서울    3292.4   2890.1   3134.2
부산    3764.0   3389.4   3560.5
대구    3274.2   3032.6   3020.1
인천    3273.7   2897.6   3072.9
광주    3439.1   3094.5   3002.2
대전    3207.9   2886.6   3156.8
울산    2192.8   2091.9   1600.5
세종    1869.1   1652.9   1800.6
경기    3198.7   2860.2   2878.1
강원    3340.9   2950.8   2996.3
충북    3226.1   2943.5   2966.9
충남    3387.4   2986.4   3194.9
전북    3115.7   2943.0   3036.7
전남    3642.8   3284.9   3385.9
경북    3174.6   2866.8   3036.1
경남    3694.6   3352.3   3398.5
제주    4342.5   3915.6   4051.9

In [271]:
chDF['2021범죄율증강량']=chDF['2021범죄율']-chDF['2020범죄율']
chDF

     2020범죄율  2021범죄율  2022범죄율  2021범죄율증강량
시도별
서울    3292.4   2890.1   3134.2      -402.3
부산    3764.0   3389.4   3560.5      -374.6
대구    3274.2   3032.6   3020.1      -241.6
인천    3273.7   2897.6   3072.9      -376.1
광주    3439.1   3094.5   3002.2      -344.6
대전    3207.9   2886.6   3156.8      -321.3
울산    2192.8   2091.9   1600.5      -100.9
세종    1869.1   1652.9   1800.6      -216.2
경기    3198.7   2860.2   2878.1      -338.5
강원    3340.9   2950.8   2996.3      -390.1
충북    3226.1   2943.5   2966.9      -282.6
충남    3387.4   2986.4   3194.9      -401.0
전북    3115.7   2943.0   3036.7      -172.7
전남    3642.8   3284.9   3385.9      -357.9
경북    3174.6   2866.8   3036.1      -307.8
경남    3694.6   3352.3   3398.5      -342.3
제주    4342.5   3915.6   4051.9      -426.9

In [272]:
chDF['2022범죄율증강량']=chDF['2022범죄율']-chDF['2021범죄율']
chDF

     2020범죄율  2021범죄율  2022범죄율  2021범죄율증강량  2022범죄율증강량
시도별
서울    3292.4   2890.1   3134.2      -402.3       244.1
부산    3764.0   3389.4   3560.5      -374.6       171.1
대구    3274.2   3032.6   3020.1      -241.6       -12.5
인천    3273.7   2897.6   3072.9      -376.1       175.3
광주    3439.1   3094.5   3002.2      -344.6       -92.3
대전    3207.9   2886.6   3156.8      -321.3       270.2
울산    2192.8   2091.9   1600.5      -100.9      -491.4
세종    1869.1   1652.9   1800.6      -216.2       147.7
경기    3198.7   2860.2   2878.1      -338.5        17.9
강원    3340.9   2950.8   2996.3      -390.1        45.5
충북    3226.1   2943.5   2966.9      -282.6        23.4
충남    3387.4   2986.4   3194.9      -401.0       208.5
전북    3115.7   2943.0   3036.7      -172.7        93.7
전남    3642.8   3284.9   3385.9      -357.9       101.0
경북    3174.6   2866.8   3036.1      -307.8       169.3
경남    3694.6   3352.3   3398.5      -342.3        46.2
제주    4342.5   3915.6   4051.9      -426.9       136.3

In [273]:
chDF1=chDF[['2021범죄율증강량','2022범죄율증강량']]
chDF1

     2021범죄율증강량  2022범죄율증강량
시도별
서울       -402.3       244.1
부산       -374.6       171.1
대구       -241.6       -12.5
인천       -376.1       175.3
광주       -344.6       -92.3
대전       -321.3       270.2
울산       -100.9      -491.4
세종       -216.2       147.7
경기       -338.5        17.9
강원       -390.1        45.5
충북       -282.6        23.4
충남       -401.0       208.5
전북       -172.7        93.7
전남       -357.9       101.0
경북       -307.8       169.3
경남       -342.3        46.2
제주       -426.9       136.3

In [274]:
result=pd.concat([chDF,unempDF],axis=1)
print(result)

    2020범죄율  2021범죄율  2022범죄율  2021범죄율증강량  2022범죄율증강량  2020실업률  2021실업률  \
서울   3292.4   2890.1   3134.2      -402.3       244.1      4.6      4.8
부산   3764.0   3389.4   3560.5      -374.6       171.1      4.2      3.4
대구   3274.2   3032.6   3020.1      -241.6       -12.5      3.9      3.7
인천   3273.7   2897.6   3072.9      -376.1       175.3      4.6      4.0
광주   3439.1   3094.5   3002.2      -344.6       -92.3      3.9      3.6
대전   3207.9   2886.6   3156.8      -321.3       270.2      4.4      3.3
울산   2192.8   2091.9   1600.5      -100.9      -491.4      4.2      3.6
세종   1869.1   1652.9   1800.6      -216.2       147.7      2.8      2.1
경기   3198.7   2860.2   2878.1      -338.5        17.9      4.0      3.7
강원   3340.9   2950.8   2996.3      -390.1        45.5      3.9      3.6
충북   3226.1   2943.5   2966.9      -282.6        23.4      3.2      2.5
충남   3387.4   2986.4   3194.9      -401.0       208.5      3.5      2.3
전북   3115.7   2943.0   3036.7      -172.7        93.7      2.5      2.2
전남   3642.8   3284.9   3385.9      -357.9       101.0      2.4      2.3
경북   3174.6   2866.8   3036.1      -307.8       169.3      4.0      3.2
경남   3694.6   3352.3   3398.5      -342.3        46.2      4.0      4.1
제주   4342.5   3915.6   4051.9      -426.9       136.3      2.5      3.1

    2022실업률  2021실업률증강률  2022실업률증강률
서울      3.4         0.2        -1.4
부산      3.0        -0.8        -0.4
대구      2.9        -0.2        -0.8
인천      3.3        -0.6        -0.7
광주      2.9        -0.3        -0.7
대전      2.4        -1.1        -0.9
울산      3.2        -0.6        -0.4
세종      2.0        -0.7        -0.1
경기      2.7        -0.3        -1.0
강원      3.2        -0.3        -0.4
충북      2.5        -0.7         0.0
충남      2.3        -1.2         0.0
전북      2.4        -0.3         0.2
전남      2.2        -0.1        -0.1
경북      2.5        -0.8        -0.7
경남      3.3         0.1        -0.8
제주      2.1         0.6        -1.0

In [275]:
# 범죄율증강량, 실업률증강률만 뽑아보자
result2=pd.concat([chDF1,unempDF1],axis=1)
result2

    2021범죄율증강량  2022범죄율증강량  2021실업률증강률  2022실업률증강률
서울      -402.3       244.1         0.2        -1.4
부산      -374.6       171.1        -0.8        -0.4
대구      -241.6       -12.5        -0.2        -0.8
인천      -376.1       175.3        -0.6        -0.7
광주      -344.6       -92.3        -0.3        -0.7
대전      -321.3       270.2        -1.1        -0.9
울산      -100.9      -491.4        -0.6        -0.4
세종      -216.2       147.7        -0.7        -0.1
경기      -338.5        17.9        -0.3        -1.0
강원      -390.1        45.5        -0.3        -0.4
충북      -282.6        23.4        -0.7         0.0
충남      -401.0       208.5        -1.2         0.0
전북      -172.7        93.7        -0.3         0.2
전남      -357.9       101.0        -0.1        -0.1
경북      -307.8       169.3        -0.8        -0.7
경남      -342.3        46.2         0.1        -0.8
제주      -426.9       136.3         0.6        -1.0

In [276]:
# 지역별 GDP 정리
file_name4='시도별gdp..xlsx'

In [277]:
gdpDF=pd.read_excel(file_name4)
gdpDF

c:\Users\kdp\anaconda3\envs\PY_39\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

        시도별         경제활동별       2020       2021    2022 p)
0       시도별         경제활동별         실질         실질         실질
1     서울특별시  지역내총생산(시장가격)  417638547  431678812  438537013
2     부산광역시  지역내총생산(시장가격)   85962709   87629325   89883761
3     대구광역시  지역내총생산(시장가격)   53668577   56017462   56996357
4     인천광역시  지역내총생산(시장가격)   84907539   90325899   95712639
5     광주광역시  지역내총생산(시장가격)   39530642   41257137   41939597
6     대전광역시  지역내총생산(시장가격)   41208249   42500095   44395434
7     울산광역시  지역내총생산(시장가격)   67136435   69523278   69204235
8   세종특별자치시  지역내총생산(시장가격)   11647981   12509390   12916427
9       경기도  지역내총생산(시장가격)  470022670  498358681  516358207
10      강원도  지역내총생산(시장가격)   44829136   46781331   48179338
11     충청북도  지역내총생산(시장가격)   65926194   70448338   73629729
12     충청남도  지역내총생산(시장가격)  112762058  118487227  121401399
13     전라북도  지역내총생산(시장가격)   49116252   50636383   51678429
14     전라남도  지역내총생산(시장가격)   74972494   76965787   75475342
15     경상북도  지역내총생산(시장가격)  101370158  105224262  107057669
16     경상남도  지역내총생산(시장가격)  103425415  105384664  110265302
17  제주특별자치도  지역내총생산(시장가격)   17957495   18173026   19003180

In [278]:
gdpDF=gdpDF.drop('경제활동별',axis=1)
gdpDF

        시도별       2020       2021    2022 p)
0       시도별         실질         실질         실질
1     서울특별시  417638547  431678812  438537013
2     부산광역시   85962709   87629325   89883761
3     대구광역시   53668577   56017462   56996357
4     인천광역시   84907539   90325899   95712639
5     광주광역시   39530642   41257137   41939597
6     대전광역시   41208249   42500095   44395434
7     울산광역시   67136435   69523278   69204235
8   세종특별자치시   11647981   12509390   12916427
9       경기도  470022670  498358681  516358207
10      강원도   44829136   46781331   48179338
11     충청북도   65926194   70448338   73629729
12     충청남도  112762058  118487227  121401399
13     전라북도   49116252   50636383   51678429
14     전라남도   74972494   76965787   75475342
15     경상북도  101370158  105224262  107057669
16     경상남도  103425415  105384664  110265302
17  제주특별자치도   17957495   18173026   19003180

In [279]:
gdpDF=gdpDF.drop(0)
gdpDF

        시도별       2020       2021    2022 p)
1     서울특별시  417638547  431678812  438537013
2     부산광역시   85962709   87629325   89883761
3     대구광역시   53668577   56017462   56996357
4     인천광역시   84907539   90325899   95712639
5     광주광역시   39530642   41257137   41939597
6     대전광역시   41208249   42500095   44395434
7     울산광역시   67136435   69523278   69204235
8   세종특별자치시   11647981   12509390   12916427
9       경기도  470022670  498358681  516358207
10      강원도   44829136   46781331   48179338
11     충청북도   65926194   70448338   73629729
12     충청남도  112762058  118487227  121401399
13     전라북도   49116252   50636383   51678429
14     전라남도   74972494   76965787   75475342
15     경상북도  101370158  105224262  107057669
16     경상남도  103425415  105384664  110265302
17  제주특별자치도   17957495   18173026   19003180

In [280]:
gdpDF=gdpDF.set_index('시도별')
gdpDF

              2020       2021    2022 p)
시도별
서울특별시    417638547  431678812  438537013
부산광역시     85962709   87629325   89883761
대구광역시     53668577   56017462   56996357
인천광역시     84907539   90325899   95712639
광주광역시     39530642   41257137   41939597
대전광역시     41208249   42500095   44395434
울산광역시     67136435   69523278   69204235
세종특별자치시   11647981   12509390   12916427
경기도      470022670  498358681  516358207
강원도       44829136   46781331   48179338
충청북도      65926194   70448338   73629729
충청남도     112762058  118487227  121401399
전라북도      49116252   50636383   51678429
전라남도      74972494   76965787   75475342
경상북도     101370158  105224262  107057669
경상남도     103425415  105384664  110265302
제주특별자치도   17957495   18173026   19003180

In [281]:
gdpDF.index=['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주']
gdpDF

         2020       2021    2022 p)
서울  417638547  431678812  438537013
부산   85962709   87629325   89883761
대구   53668577   56017462   56996357
인천   84907539   90325899   95712639
광주   39530642   41257137   41939597
대전   41208249   42500095   44395434
울산   67136435   69523278   69204235
세종   11647981   12509390   12916427
경기  470022670  498358681  516358207
강원   44829136   46781331   48179338
충북   65926194   70448338   73629729
충남  112762058  118487227  121401399
전북   49116252   50636383   51678429
전남   74972494   76965787   75475342
경북  101370158  105224262  107057669
경남  103425415  105384664  110265302
제주   17957495   18173026   19003180

In [282]:
gdpDF.columns=['2020GDP','2021GDP','2022GDP']
gdpDF

      2020GDP    2021GDP    2022GDP
서울  417638547  431678812  438537013
부산   85962709   87629325   89883761
대구   53668577   56017462   56996357
인천   84907539   90325899   95712639
광주   39530642   41257137   41939597
대전   41208249   42500095   44395434
울산   67136435   69523278   69204235
세종   11647981   12509390   12916427
경기  470022670  498358681  516358207
강원   44829136   46781331   48179338
충북   65926194   70448338   73629729
충남  112762058  118487227  121401399
전북   49116252   50636383   51678429
전남   74972494   76965787   75475342
경북  101370158  105224262  107057669
경남  103425415  105384664  110265302
제주   17957495   18173026   19003180

In [283]:
gdpDF['2021GDP증강량']=gdpDF['2021GDP']-gdpDF['2020GDP']
gdpDF

      2020GDP    2021GDP    2022GDP 2021GDP증강량
서울  417638547  431678812  438537013   14040265
부산   85962709   87629325   89883761    1666616
대구   53668577   56017462   56996357    2348885
인천   84907539   90325899   95712639    5418360
광주   39530642   41257137   41939597    1726495
대전   41208249   42500095   44395434    1291846
울산   67136435   69523278   69204235    2386843
세종   11647981   12509390   12916427     861409
경기  470022670  498358681  516358207   28336011
강원   44829136   46781331   48179338    1952195
충북   65926194   70448338   73629729    4522144
충남  112762058  118487227  121401399    5725169
전북   49116252   50636383   51678429    1520131
전남   74972494   76965787   75475342    1993293
경북  101370158  105224262  107057669    3854104
경남  103425415  105384664  110265302    1959249
제주   17957495   18173026   19003180     215531

In [284]:
gdpDF['2022GDP증강량']=gdpDF['2022GDP']-gdpDF['2021GDP']
gdpDF

      2020GDP    2021GDP    2022GDP 2021GDP증강량 2022GDP증강량
서울  417638547  431678812  438537013   14040265    6858201
부산   85962709   87629325   89883761    1666616    2254436
대구   53668577   56017462   56996357    2348885     978895
인천   84907539   90325899   95712639    5418360    5386740
광주   39530642   41257137   41939597    1726495     682460
대전   41208249   42500095   44395434    1291846    1895339
울산   67136435   69523278   69204235    2386843    -319043
세종   11647981   12509390   12916427     861409     407037
경기  470022670  498358681  516358207   28336011   17999526
강원   44829136   46781331   48179338    1952195    1398007
충북   65926194   70448338   73629729    4522144    3181391
충남  112762058  118487227  121401399    5725169    2914172
전북   49116252   50636383   51678429    1520131    1042046
전남   74972494   76965787   75475342    1993293   -1490445
경북  101370158  105224262  107057669    3854104    1833407
경남  103425415  105384664  110265302    1959249    4880638
제주   17957495   18173026   19003180     215531     830154

In [285]:
gdpDF1=gdpDF[['2021GDP증강량','2022GDP증강량']]
gdpDF1

   2021GDP증강량 2022GDP증강량
서울   14040265    6858201
부산    1666616    2254436
대구    2348885     978895
인천    5418360    5386740
광주    1726495     682460
대전    1291846    1895339
울산    2386843    -319043
세종     861409     407037
경기   28336011   17999526
강원    1952195    1398007
충북    4522144    3181391
충남    5725169    2914172
전북    1520131    1042046
전남    1993293   -1490445
경북    3854104    1833407
경남    1959249    4880638
제주     215531     830154

In [286]:
result3=pd.concat([chDF,gdpDF],axis=1)
result3

,2020범죄율,2021범죄율,2022범죄율,2021범죄율증강량,2022범죄율증강량,2020GDP,2021GDP,2022GDP,2021GDP증강량,2022GDP증강량
서울,3292.4,2890.1,3134.2,-402.3,244.1,417638547,431678812,438537013,14040265,6858201
부산,3764.0,3389.4,3560.5,-374.6,171.1,85962709,87629325,89883761,1666616,2254436
대구,3274.2,3032.6,3020.1,-241.6,-12.5,53668577,56017462,56996357,2348885,978895
인천,3273.7,2897.6,3072.9,-376.1,175.3,84907539,90325899,95712639,5418360,5386740
광주,3439.1,3094.5,3002.2,-344.6,-92.3,39530642,41257137,41939597,1726495,682460
대전,3207.9,2886.6,3156.8,-321.3,270.2,41208249,42500095,44395434,1291846,1895339
울산,2192.8,2091.9,1600.5,-100.9,-491.4,67136435,69523278,69204235,2386843,-319043
세종,1869.1,1652.9,1800.6,-216.2,147.7,11647981,12509390,12916427,861409,407037
경기,3198.7,2860.2,2878.1,-338.5,17.9,470022670,498358681,516358207,28336011,17999526
강원,3340.9,2950.8,2996.3,-390.1,45.5,44829136,46781331,48179338,1952195,1398007
충북,3226.1,2943.5,2966.9,-282.6,23.4,65926194,70448338,73629729,4522144,3181391
충남,3387.4,2986.4,3194.9,-401.0,208.5,112762058,118487227,121401399,5725169,2914172
전북,3115.7,2943.0,3036.7,-172.7,93.7,49116252,50636383,51678429,1520131,1042046
전남,3642.8,3284.9,3385.9,-357.9,101.0,74972494,76965787,75475342,1993293,-1490445
경북,3174.6,2866.8,3036.1,-307.8,169.3,101370158,105224262,107057669,3854104,1833407
경남,3694.6,3352.3,3398.5,-342.3,46.2,103425415,105384664,110265302,1959249,4880638
제주,4342.5,3915.6,4051.9,-426.9,136.3,17957495,18173026,19003180,215531,830154

In [287]:
# 범죄율증강량, 실업률증강률만 뽑아보자
result4=pd.concat([chDF1,gdpDF1],axis=1)
result4

    2021범죄율증강량  2022범죄율증강량 2021GDP증강량 2022GDP증강량
서울      -402.3       244.1   14040265    6858201
부산      -374.6       171.1    1666616    2254436
대구      -241.6       -12.5    2348885     978895
인천      -376.1       175.3    5418360    5386740
광주      -344.6       -92.3    1726495     682460
대전      -321.3       270.2    1291846    1895339
울산      -100.9      -491.4    2386843    -319043
세종      -216.2       147.7     861409     407037
경기      -338.5        17.9   28336011   17999526
강원      -390.1        45.5    1952195    1398007
충북      -282.6        23.4    4522144    3181391
충남      -401.0       208.5    5725169    2914172
전북      -172.7        93.7    1520131    1042046
전남      -357.9       101.0    1993293   -1490445
경북      -307.8       169.3    3854104    1833407
경남      -342.3        46.2    1959249    4880638
제주      -426.9       136.3     215531     830154